// Color Palette
$primary-color: #0A74DA;
$secondary-color: #14B8A6;
$accent-color: #F97316;
$text-dark: #1F2937;
$text-light: #F3F4F6;
$background-light: #FFFFFF;
$borders: #D1D5DB;

// Font Families
$font-family-headings: 'Montserrat', sans-serif;
$font-family-body: 'Open Sans', sans-serif;
